venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

db.sqlite3

.env
.env.*

media/
staticfiles/

.vscode/
.idea/

.DS_Store
Thumbs.db
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
