{% extends "public/base_public.html" %}

{% block title %}
Agendar | {{ barbershop.name }}
{% endblock %}

{% block content %}

<section class="section">

    <div
        class="container"
        style="max-width:700px;"
    >

        <div class="section-title">

            <h2>
                Agendar horário
            </h2>

            <p>
                {{ barbershop.name }}
            </p>

        </div>


        <div class="card">

            <p>
                O formulário completo de agendamento
                será implementado na próxima etapa.
            </p>

        </div>

    </div>

</section>

{% endblock %}