{% extends "public/base_public.html" %}

{% block title %}
Criar conta
{% endblock %}

{% block content %}

<section class="section">

    <div
        class="container"
        style="
            max-width:520px;
        "
    >

        <div class="section-title">

            <h2>
                Crie sua conta
            </h2>

            <p>
                Comece seu período
                de teste grátis.
            </p>

        </div>


        <div class="card">

            <form method="post">

                {% csrf_token %}

                {% if form.non_field_errors %}

                    <div
                        style="
                            color:#f87171;
                            margin-bottom:18px;
                        "
                    >
                        {{ form.non_field_errors }}
                    </div>

                {% endif %}


                {% for field in form %}

                    <div class="form-group">

                        <label
                            for="{{ field.id_for_label }}"
                        >
                            {{ field.label }}
                        </label>

                        {{ field }}

                        {% if field.errors %}

                            <div
                                style="
                                    color:#f87171;
                                    margin-top:6px;
                                    font-size:13px;
                                "
                            >
                                {{ field.errors }}
                            </div>

                        {% endif %}

                    </div>

                {% endfor %}


                <button
                    type="submit"
                    class="btn"
                    style="width:100%;"
                >
                    Criar minha conta
                </button>

            </form>

        </div>

    </div>

</section>

{% endblock %}