{% extends "saas_admin/base.html" %}

{% block title %}
Trials
{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h1>⏳ Trials</h1>

        <p>
            Barbearias em período de teste.
        </p>
    </div>

</div>


<div class="panel">

{% if trials %}

    <div class="table-wrapper">

        <table>

            <thead>
                <tr>
                    <th>Barbearia</th>
                    <th>Plano</th>
                    <th>Fim do trial</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

            {% for subscription in trials %}

                <tr>

                    <td>
                        <strong>
                            {{ subscription.barbershop.name }}
                        </strong>
                    </td>

                    <td>
                        {{ subscription.plan.name }}
                    </td>

                    <td>
                        {{ subscription.trial_ends_at|date:"d/m/Y H:i" }}
                    </td>

                    <td>
                        <span class="badge status-trial">
                            Teste grátis
                        </span>
                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

{% else %}

    <div class="empty">
        Nenhum trial ativo.
    </div>

{% endif %}

</div>

{% endblock %}