{% extends "dashboard/base_dashboard.html" %}

{% block title %}Adicionar membro{% endblock %}

{% block content %}

<div class="page-header">
    <div>
        <h1>👤 Adicionar membro</h1>

        <p>
            Crie um acesso para um membro da equipe.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">

        <form method="post">

            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="message error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}

                <div class="form-group">

                    <label>
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.errors %}
                        <div class="message error">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                </div>

            {% endfor %}

            <button class="btn">
                Adicionar membro
            </button>

            <a href="{% url 'dashboard:team' %}" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>
</div>

{% endblock %}